main {
    background: var(--bg-secondary);
    padding: clamp(4rem, 2vw, 10rem);
    position: relative;
}

.feature {
    margin-bottom: 4rem 0;
}

.feature h2 {
    color: var(--cl-accent);
    text-shadow: 2px 2px 0 #000;
}

.feature h3 {
    text-shadow: 2px 2px 0 #000;
}

.feature:not(.wishlist) .content {
    position: relative;
    bottom: 2rem;
}

.wishlist iframe {
    width: min(646px, 100%);
    min-height: 190px;

}

header {
    color: black;
    background: pink;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

@media screen and (min-width: 810px) {
  

    .feature {
        display: flex;
        align-items: center;
        gap: 3vw;

        margin-bottom: 10rem;
        padding: 1rem;

        border-right: 0.75rem solid var(--cl-accent);
    }

    .feature:nth-child(even) {
        flex-direction: row-reverse;
        
        border-left: 0.75rem solid var(--cl-accent);
        
        border-right: none;

    }

    .feature figure {
        flex: 3;
    }

    .feature .content {
        flex: 1;
        padding: 0 2rem;

    }

    .feature:not(.wishlist) .content {
        position: static;

    }
}

